div.container {
  margin: 50px auto;
  max-width: 500px;
}

ul {
  list-style-type: none;
  display: inline;
}

ul li {
  background:#188ff1f5;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px 40px;
  position: relative;
  /* border: black solid 2px; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.25s;
}

/* these classes are the children of the li  */

.remove {
 /* display: inline; */
 float: right;
 margin-left: 10px;
}

.paragraph{
 display: inline;
 /* background: rgb(236, 130, 88); */
 /* width: auto; */
}

.checkbox {
 float: left;
 margin-top: 10px;
 margin-right: 10px;

}

.complete {
  
  background: #53e040;
  opacity: 0.5;
  text-decoration: line-through;
}

html {
  background: linear-gradient(to right top, #e04040, #5851b3, #34b0cf, #3cf6e7, #3cf690);
  height: 100%;
  width: 100%;
}

body{
  font-size: 25px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#todo-add {
  border: 2px solid #8f25d6;
  background-color: #8f25d6;
  border-radius: 8%;
  width: 100px;
  height: 45px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 5px 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#todo-add:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

input  {
  border: none;
}

input#todo-input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  background: transparent;
  border-bottom: 2px solid #8f25d6 ;  
}

input#todo-input::placeholder {
  color: transparent;
  
}

div.container {
  margin: 50px auto;
  max-width: 500px;
}

h1#title {
  text-align: center;
  margin-bottom: 50px
}

div#header {
  text-align: center;
}

div#header div#input-container {
  margin-bottom: 20px;
  position: relative;
  padding-top: 15px;
}

div#header div#input-container label {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  transition: 0.25s;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

div#header div#input-container input#todo-input:placeholder-shown ~ label {
  top: 30px;
  color: white;
  font-size: 30px;
  font-weight: 100;
  /* border: rgb(128, 30, 0) 2px solid; */

}

div#header div#input-container input#todo-input:focus~ label {
  top: 0;
  font-size: 16px;
  color: #766fd6;
  font-weight: 600;
  /* border: green 2px solid; */
}